@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: cornsilk;
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  color: #161616;
}
h1 {
  font-family: 'PT Serif Caption', serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 200;
  margin-top: 26px;
  line-height: 1.2;
  letter-spacing: 1.2px;
  padding: 25px;
  color: #161616;
  width: 75vw;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Product {
  align-items: center;
  margin: 20px 20px;
  text-wrap: wrap;
  justify-content: center;
}
p {
  text-wrap: wrap;
  width: 70vw;
}
.Play a {
  margin: 50px 0px;
  display: flex;
  font-size: 120%;
  color: #161616;
  font-weight: 400;
  align-items: center;
  text-decoration: none;
}
